.body1{
    background-image:url(../Portfolio/Public/Images/Netflixbanner.jpg);
    background-size: cover;
    color: white;
    height: 730px;
   border-bottom: 10px solid black;
   font-family: arial;
}
.front{
    background-color:rgba(0,0,0,0.7);
    height: 2730px;
}
header{
    display: flex;
    justify-content: space-between;
}
.right
{
    display: flex;
    margin-top: 10px;
    margin-right: 30px;


}
.right div{
    padding: 15px;
}
.brand{
    color: red;
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: 30px;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 600px;
}
.select{
    background-color: black;
    border-radius: 10px;
    color: white;

}
.hm{
   font-size: 17px;
   margin-top: 20px;
}
h1{
    font-size: 60px;
    font-weight: bold;
    width: 750px;
}
h2{
    font-size: 30px;
}
.ib{
    height: 70px;

}
.button{
    background-color: red;
    font-weight: bold;
}
.fst{
   
    display: flex;
    justify-content: center;
    color: white;
    font-family: arial;
    font-size: 40px;
    height: 500px;
    background-color: black;
    margin-top: 5px;
   
}
h3{
    font-size: 50px;
    width: 550px;
    font-weight: bold;
}
.sd{
    font-size: 23px;
    width: 400px;
}
.content{
    margin-top: 150px;
   
}
.content2{
    margin-top: 80px;
   
}
.questions{

    display: flex;
    justify-content: center;
   
}
.allquestions{
    background-color:black ;
    color: white;
}

summary{
    font-family: arial;
    font-size: 40px;
    font-weight: bold;
    width: 800px;
     text-align: left;
     background-color: rgb(55, 54, 54);
     margin-top: 20px;
   
    }
.detls{
    width: 800px;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(55, 54, 54);
    height: 160px;
 }
 
.qa{
    display: flex;
    justify-content: center;
    font-size: 57px;
    font-weight: bold;
}
.mail{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}
.mail-sec{
    width: 700px;
    height: 60px;
    margin-bottom: 20px;
}
.mail-li{
    font-size: 20px;
    font-family: arial;
    margin-top: 60px;
}
.footcontent{
    display: flex;
    justify-content: center;
    margin-top: 50px;
   
}
.footcontent div{
margin-left: 40px;
}
footer{
    background-color: black;
    color: gray;
    border-top: 5px solid rgb(56, 55, 55);
    height: 450px;

}
.qcl{
    margin-left: 300px;
    margin-top: 30px;
}
ul{
    list-style: none;
}
li{
   line-height: 30px ;
}
.allquestions{
    border-top: 5px solid rgb(56, 55, 55);
}
.NI{
    margin-left: 150px;
    margin-top: 50px;
   
}   